.nheight-20 {
   height: 20px;
}

html, body, #root, .rheight-100 {
   height: 100%;
}

body {
   font-family: 'Montserrat', sans-serif;
   transition: 0.5s;
}

::-webkit-scrollbar {
   width: 8px;
   /* background-color: rgb(61, 61, 61); */
}

::-webkit-scrollbar-track {
   background-color: rgb(216, 216, 216);
   border-radius: 5px;
}

::-webkit-scrollbar-thumb {
   width: 8px;
   background-color: rgb(61, 61, 61);
   border-radius: 5px;
}

.bg-lgreen {
   /* background-color: #1fb174; */
   background-color: #2ECC71;
   background-size: cover;
}

.nav-link.active {
   color: #2ECC71;
}

.pointer:hover {
   cursor: pointer;
}

.default:hover {
   cursor: default;
}

.text-lgreen {
   /* color: #1fb174; */
   color: #2ECC71;
}

/* h1, h2, h3, h4, h5, h6:hover {
   cursor: default;
} */

.overflow-x-hidden {
   overflow-x: hidden;
}

.overflow-y-auto {
   overflow-y: auto;
}

.border-lgreen {
   /* color: #1fb174; */
   border-color: solid #2ECC71;
}

.header {
   text-align: left;
   font-family: Bahnschrift;
}

.font-bs{
   font-family: Bahnschrift;
}

.fc {
   border: none;
   width: 100%;
   height: 100%;
   padding-left: 8px;
   grid-template-columns: 7% 93%;
}

.fc-50 {
   border: none;
   width: 100%;
   height: 100%;
   padding-left: 8px;
}

.fc:focus {
   outline: none;
   border: none;
}

.fc-50:focus {
   outline: none;
   border: none;
}

.links {
   text-decoration: none;
   /* color: #2ECC71; */
}

.links:hover {
   text-decoration: none;
   /* color: #2ECC71; */
   /* opacity: 0.8; */
}

.links-lgreen:hover {
   text-decoration: none;
   /* color: #2ECC71; */
   color: #1e9b67;
}

.btn-lgreen {
   /* background-color: #1fb174; */
   background-color: #2ECC71;
   color: rgba(255, 255, 255, 0.911);
}

.btn-lgreen:hover {
   background-color: #1e9b67;
   /* background-color: #2ECC71; */
   color: white;
}

.prr-3 {
   align-self: center;
   align-items: center;
   width: 100%;
   height: 100%;
   font-size: 13px;
   display: flex;
   justify-content: center;
   /* padding-top: 5px; */
}

.prr-1 {
   align-self: center;
   align-items: center;
   width: 100%;
   height: 100%;
   font-size: 14px;
   display: flex;
   justify-content: center;
   /* padding-top: 5px; */
}

.prr-5 {
   padding-left: 5%;
   padding-right: 5%;
}

.mrr-2 {
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 15px;
   margin-right: 15px;
}

.kol-1 {
   padding: 10px 40px 10px 40px;
   height: 100%;
   overflow: auto;
}

/* .kol-2 {
   align-items: center;
} */

.input-group {
   display: grid;
   grid-template-columns: 8% 92%;
   height: 40px;
   overflow: hidden;
}

.input-group-2 {
   display: grid;
   height: 40px;
   overflow: hidden;
}

.carousel-indicators {
   bottom: -80px;
}

.h-80 {
   height: 80%;
}

.h-50 {
   height: 50%;
}

.mt-10 {
   margin-top: 7em;
}

.fan {
   font-size: 60px;
}

.cols-5 {
   width: 40%;
}

.cols-1 {
   width: 0.3%;
}

.ab {
   font-size: 25px;
}

.h-0 {
   height: 0;
}

.h-5 {
   height: 5%;
   position: absolute;
}

.navbar-brand {
   cursor: pointer;
   font-size: 100%;
   color: rgb(238, 238, 238);
}

.navbar-brand:hover {
   color: white;
}

.bc {
   padding-left: 5%;
   padding-right: 5%;
   margin-top: 1%;
   margin-bottom: 1%;
}

.sidenav {
   height: 100%;
   top: 0;
   left: 0;
   width: 0;
   background-image: linear-gradient(to bottom, rgba(19, 143, 122, 0.788), rgba(13, 216, 114, 0.567));
   overflow: hidden;
   z-index: 2;
   position: fixed;
   /* transition: 0.4s; */
}

.listile {
   padding-left: 15%;
   padding-right: 15%;
   padding-top: 5%;
   padding-bottom: 5%;
   color: white;
   text-decoration: none;
   opacity: 0.7;
   transition: 0.3s;
   /* font-weight: lighter; */
   font-stretch:ultra-condensed;
   font-size: smaller;
   display: flex;
}

.listile:hover {
   background-color: #215548;
   color: white;
   opacity: 1;
   transition: 0.3s;
}

.breadcrumb {
   color: grey;
   font-size: smaller;
}

.h-10 {
   height: 10%;
}

.h-90 {
   height: 90%;
}

.cols-8 {
   width: 66.6666666667%;
}

.cols-4 {
   width: 33.3333333333%;
}

.cols-6 {
   width: 50%;
}

#pp {
   width: 30px;
   height: 30px;
}

#egretIcon {
   /* width: 50%; */
   margin-top: -100px;
}

.rowProfile-px {
   padding-left: 1.4%;
   padding-right: 1.4%;
}

#pic1 {
   display: none;
}

#pic2 {
   display: block;
}

.btn-outline-0:focus {
   outline: 0;
}

#scbtn {
   display: none;
}

.bg-lgreen-gradient-start {
   background-image: linear-gradient(to right, rgba(19, 143, 122, 0.945), rgba(82, 255, 169, 0.822));
}

.bg-lgreen-gradient-top {
   background-image: linear-gradient(to bottom, rgba(19, 143, 122, 0.788), rgba(13, 216, 114, 0.567));
}

.mxx-3 {
   margin-right: 1rem;
   margin-left: 1rem;
}

.h-col {
   max-height: 110px;
}

.h-row {
   height: 300px;
}

.w-10 {
   width: 10%;
}

.w-70 {
   width: 70%;
}

.w-70-100 {
   width: 100%;
}

.w-80 {
   width: 80%;
}

.w-90 {
   width: 90%;
}

.ms-self-4 {
   margin-left: 8%;
}

.pt-self-3 {
   padding-top: 3%;
   padding-bottom: 3%;
}

.px-self-5 {
   padding-left: 5%;
   padding-right: 5%;
}

.p-self-5 {
   padding: 3% 5%;
}

#close {
   display: none;
}

.of-0 {
   outline: none;
   border: none;
   background: 0;
}
.of-0:focus {
   outline: none;
   border: none;
}

.text-btn-white {
   color: rgb(255, 255, 255, 0.789);
}

.text-btn-white:hover {
   opacity: 1;
   color: white;
}

.text-20 {
   font-size: 25px;
}

.opacity-1 {
   opacity: 1!important;
}

#main-navbar {
   height: 8%;
}

#profile {
   width: 20%;
   white-space: nowrap;
   display: grid;
   overflow: hidden;
   transition: 0.5s;
   text-align: right;
   grid-template-columns: 80% 20%;
}

#profile:hover {
   width: 100%;
}

.link-secondary {
   color: rgb(73, 73, 73);
}

.list-fitur {
   background-color: white;
   transition: 0.2s;
   padding-left: 2%;
   padding-top: 5%;
   padding-bottom: 5%;
}

.list-fitur:hover {
   background-color: rgba(218, 218, 218, 0.459)!important;
   padding-left: 4%;
   transition: 0.4s;
   cursor: pointer;
}

small {
   font-size: 10px;
}

.mt-min-15 {
   margin-top: -3.5%;
}

.mt-min-1 {
   margin-top: -1%;
}

.mt-min-10 {
   margin-top: -5%;
}

.h-40 {
   height: 40%;
}

.h-60 {
   height: 60%;
}

.h-70 {
   height: 70%;
}

#ppProfile {
   width: 200px;
   height: 250px;
   object-fit: cover;
}

#profile-head {
   background-image: url("./forest.png");
   background-size: cover;
   background-position-y: center;
}

/* 
#profile-head {
   background-color: rgb(64, 124, 94);
} */

.mx-s-1 {
   margin-left: 12px;
   margin-right: 8px;
}

.me-min-6 {
   margin-right: -6%;
}

.mb-min-5 {
   margin-bottom: -6%;
}

.card-info {
   padding-top: 3%;
   padding-bottom: 3%;
   padding-left: 4%;
   padding-right: 4%;
}

.card-info-img {
   width: 150px;
}

.link-opacity-6 {
   transition: 0.2s;
}

.link-opacity-6:hover {
   opacity: 0.6;
   transition: 0.4s;
}

.mt-self-2 {
   margin-top: 2%!important;
}

.mt-self-4 {
   margin-top: 4%!important;
}

.py-self-2 {
   padding-top: 2%!important;
   padding-bottom: 2%!important;
}

.py-self-3 {
   padding-top: 3%!important;
   padding-bottom: 3%!important;
}

.border-lgreen {}

.border-solid {
   border-style: solid;
}

.border-start {
   border-left: 5px;
   border-top: 0;
   border-right: 0;
   border-bottom: 0;
}

.nyantrenBrand {
   width: 15%;
}

/* 
.bg-black-4 {
   opacity: ;
} */

/* .mx-s-1:hover {
   margin-left: 10px;
} */

/* .sidenav:before {
   background-image: url("bg2.png");
   display: block;
   position: absolute;
   width: 16.7%;
   height: 100%;
   z-index: 1;
   content: "";
   opacity: 0.1;
   top: 0;
   left: 0;
   background-size: contain;
} */

/* .listile:before:hover {
   background-color: rgb(35, 107, 85);
   z-index: 3;
   opacity: 0.7;
} */

.nav-responsive {
   width: auto;
}

@media only screen and (max-width: 720px) {
   .sidelist {
      border-top: 0.5px solid rgba(128, 128, 128, 0.596);
      border-bottom: 0.5px solid rgba(128, 128, 128, 0.596);
   }
   .mt-min-13 {
      margin-top: -4%;
   }
   .listile {
      color: #215548;
   }
   .navbar-brand {
      color: white;
   }
   .p-4.nav-head {
      padding-left: 3%!important;
   }
   ul.navbar {
      top: -15px;
   }
   .nav-head {
      background-color: #2ECC71;
      height: 3%;
   }   
   .nav-body {
      color: #215548!important;
      background-color: white;
   }   
   #main-navbar {
      height: 5%;
   }
   .text-btn-white:focus {
      color: #215548;
   }
   #nav {
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
   }
   .text-20 {
      font-size: 10px;
   }
   .px-self-4 {
      padding-left: 1em;
      padding-right: 1rem;
   }
   #close {
      display: block;
      font-family: 'Montserrat Thin', sans-serif;
      font-size: 15px;
   }
   #navtab {
      margin-top: 1%;
   }
   .p-self-5 {
      padding: 3% 5% 3% 5%;
   }
   .btn {
      padding: 15% 30%;
      font-size: 2px;
   }
   .nav-responsive {
      width: auto!important;
   }
   .ms-self-4 {
      margin-left: 2%;
      /* margin: 0%; */
   }
   .w-70-100 {
      width: 100%;
   }
   .mxx-3 {
      margin-right: 0.3rem;
      margin-left: 0.3rem;
   }
   #pic1 {
      display: block;
   }
   .rowProfile-px {
      padding-left: 0;
      padding-right: 0;
   }
   #egretIcon {
      width: 100%;
      margin-top: 0!important;
   }
   .sidenav {
      position: relative;
      width: 0;
      background-color: white!important;
      background-image: none;
   }
   #navbar {
      position: fixed;
   }
   #pp {
      width: 25px;
      height: 25px;
   }
   .cols-5 {
      width: 50%;
   }
   .col-6{
      width: 100%;
   }
   .fan {
      font-size: 30px;
   }
   .mt-10 {
      margin-top: 5em;
   }
   .h-80 {
      height: 80%;
   }
   .h-50 {
      height: 80%;
   }
   .cols-8 {
      width: 65%;
   }
   .cols-4 {
      width: 35%;
   }
   .faicon {
      font-size: 8px;
   }
   .carousel-indicators {
      bottom: -50px;
   }
   .mrr-2 {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 3px;
      margin-right: 3px;
   }
   .svg-inline--fa {
      margin: 0!important;
      vertical-align: middle;
   }
   .prr-5 {
      padding-top: 20px;
   }
   .prr-3 {
      height: 100%;
      width: 100%;
      font-size: 8px;
   }
   .kol-1 {
      padding: 10px 20px 10px 20px;
      order: 1;
      height: 60%;
      border-bottom-left-radius: 4%;
      border-bottom-right-radius: 4%;
   }
   .kol-2 {
      order: 2;
      height: 40%;
   }
   .input-group {
      display: grid;
      height: 35px;
      grid-template-columns: 7% 93%;
      width: 100%;
      overflow: hidden;
   }
   [class*="col-"] {
     width: 100%;
   }
   .col {
      width: 100%;
   }
   body, .btn {
      font-size: 8px;
   }
   body {
      overflow-y: scroll;
   }
   .fc {
      width: 100%;
   }
   .fc-50 {
      width: 100%;
   }
   h1 {
      font-size: 23px;
   }
   h2 {
      font-size: 20px;
   }
   h3 {
      font-size: 17px;
   }
   h4 {
      font-size: 15px;
   }
   h5 {
      font-size: 13px;
   }
   h6 {
      font-size: 10px;
   }
   p {
      font-size: smaller;
   }
}